---
http_interactions:
- request:
    method: post
    uri: https://app.superagi.com/api/v1/agent
    body:
      encoding: UTF-8
      string: '{"agent_workflow":"Goal Based Workflow","model":"gpt-4","name":"Motivational
        Quote Generator","description":"Generates motivational quotes","goal":["I
        need a motivational quote"],"instruction":["Write a new motivational quote"],"iteration_interval":500,"max_iterations":2,"constraints":[],"tools":[]}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SUPERAGI_SECRET_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"agent_id":15562}'
  recorded_at: Mon, 30 Oct 2023 16:33:06 GMT
recorded_with: VCR 6.1.0
