---
http_interactions:
- request:
    method: put
    uri: https://app.superagi.com/api/v1/agent/
    body:
      encoding: UTF-8
      string: '{"constraints":[],"goal":[],"tools":[],"name":"Updated Name"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SUPERAGI_SECRET_KEY>"
  response:
    status:
      code: 307
      message: Temporary Redirect
    headers:
      Location:
      - http://app.superagi.com/api/v1/agent
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Oct 2023 16:24:09 GMT
- request:
    method: put
    uri: https://app.superagi.com/api/v1/agent/15440
    body:
      encoding: UTF-8
      string: '{"constraints":[],"goal":[],"tools":[],"name":"Updated Name"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SUPERAGI_SECRET_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"agent_id":15440}'
  recorded_at: Sat, 28 Oct 2023 16:25:28 GMT
recorded_with: VCR 6.1.0
